{
    "openapi": "3.0.0",
    "info": {
        "title": "SokoLink Engine API",
        "description": "The SokoLink Engine API powers the Core Features for the Marketplace activities making a seam less interaction between Sellers, Buyers and Administrators. The documentation comprises the API's for authentication, marketplace , payments , academy, Admin and all the transactions made by the Sellers in the Store.",
        "contact": {
            "name": "SokoLink Support Team",
            "email": "support@sokolink.store"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.sokolink.store/api/v1",
            "description": "Live Server"
        },
        {
            "url": "http://localhost:2345/api/v1",
            "description": "Test Server"
        }
    ],
    "paths": {
        "/academy": {
            "get": {
                "tags": [
                    "Academy"
                ],
                "summary": "List all academies with lessons",
                "description": "Retrieve all academies along with their associated lessons.",
                "operationId": "listAcademies",
                "responses": {
                    "200": {
                        "description": "List of academies retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Academy lesson list."
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "title": {
                                                        "type": "string",
                                                        "example": "Web Development Bootcamp"
                                                    },
                                                    "subtitle": {
                                                        "type": "string",
                                                        "example": "Learn full-stack development in 12 weeks"
                                                    },
                                                    "created_at": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2025-09-14T12:00:00Z"
                                                    },
                                                    "updated_at": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2025-09-14T12:00:00Z"
                                                    },
                                                    "lessons": {
                                                        "type": "array",
                                                        "items": {
                                                            "properties": {
                                                                "id": {
                                                                    "type": "integer",
                                                                    "example": 1
                                                                },
                                                                "academy_id": {
                                                                    "type": "integer",
                                                                    "example": 1
                                                                },
                                                                "title": {
                                                                    "type": "string",
                                                                    "example": "Introduction to HTML"
                                                                },
                                                                "description": {
                                                                    "type": "string",
                                                                    "example": "Learn the basics of HTML"
                                                                },
                                                                "created_at": {
                                                                    "type": "string",
                                                                    "format": "date-time",
                                                                    "example": "2025-09-14T12:00:00Z"
                                                                },
                                                                "updated_at": {
                                                                    "type": "string",
                                                                    "format": "date-time",
                                                                    "example": "2025-09-14T12:00:00Z"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Academy"
                ],
                "summary": "Create a new academy",
                "description": "Allows creation of a new academy with a title and subtitle.",
                "operationId": "storeAcademy",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "title",
                                    "subtitle"
                                ],
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "example": "Web Development Bootcamp"
                                    },
                                    "subtitle": {
                                        "type": "string",
                                        "example": "Learn full-stack development in 12 weeks"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Academy added successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Academy added successful"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 201
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "title": {
                                                    "type": "string",
                                                    "example": "Web Development Bootcamp"
                                                },
                                                "subtitle": {
                                                    "type": "string",
                                                    "example": "Learn full-stack development in 12 weeks"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-09-14T12:00:00Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-09-14T12:00:00Z"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Failed to validate fields"
                                        },
                                        "errors": {
                                            "properties": {
                                                "title": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "The title field is required."
                                                    }
                                                },
                                                "subtitle": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "The subtitle field is required."
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/academy/{id}": {
            "get": {
                "tags": [
                    "Academy"
                ],
                "summary": "Get details of a specific academy",
                "description": "Retrieve details of a single academy along with its lessons.",
                "operationId": "getAcademy",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the academy to retrieve",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Academy details retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Academy details"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "title": {
                                                    "type": "string",
                                                    "example": "Web Development Bootcamp"
                                                },
                                                "subtitle": {
                                                    "type": "string",
                                                    "example": "Learn full-stack development in 12 weeks"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-09-14T12:00:00Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-09-14T12:00:00Z"
                                                },
                                                "lessons": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "academy_id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "title": {
                                                                "type": "string",
                                                                "example": "Introduction to HTML"
                                                            },
                                                            "description": {
                                                                "type": "string",
                                                                "example": "Learn the basics of HTML"
                                                            },
                                                            "created_at": {
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "example": "2025-09-14T12:00:00Z"
                                                            },
                                                            "updated_at": {
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "example": "2025-09-14T12:00:00Z"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Academy not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Academy not found."
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 404
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Academy"
                ],
                "summary": "Update an existing academy",
                "description": "Update the title and subtitle of a specific academy.",
                "operationId": "updateAcademy",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the academy to update",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "example": "Advanced Web Development Bootcamp"
                                    },
                                    "subtitle": {
                                        "type": "string",
                                        "example": "Master full-stack development in 12 weeks"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Academy updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Academy updated successfully"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "title": {
                                                    "type": "string",
                                                    "example": "Advanced Web Development Bootcamp"
                                                },
                                                "subtitle": {
                                                    "type": "string",
                                                    "example": "Master full-stack development in 12 weeks"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-09-14T12:00:00Z"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-09-14T12:30:00Z"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Academy not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Academy not found"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 404
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Academy"
                ],
                "summary": "Delete an academy",
                "description": "Delete a specific academy and all its associated lessons.",
                "operationId": "deleteAcademy",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the academy to delete",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Academy deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Academy deleted successful."
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 200
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Academy not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Academy not found."
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 404
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/academy/{id}/lessons": {
            "post": {
                "tags": [
                    "Academy"
                ],
                "summary": "Add a lesson to an academy",
                "description": "Create a new lesson under a specific academy",
                "operationId": "addAcademyLesson",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the academy",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "example": "Introduction to Laravel"
                                    },
                                    "subtitle": {
                                        "type": "string",
                                        "example": "Getting started with Laravel basics"
                                    },
                                    "instructor": {
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "video_location": {
                                        "type": "string",
                                        "enum": [
                                            "online",
                                            "stored"
                                        ],
                                        "example": "online"
                                    },
                                    "video": {
                                        "type": "string",
                                        "example": "https://youtube.com/example"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Lesson added successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Lesson added successfully"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 201
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Academy not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Academy not found"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 404
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/academy/lessons/{id}": {
            "get": {
                "tags": [
                    "Academy"
                ],
                "summary": "Get a single lesson by ID",
                "description": "Retrieve details of a specific lesson in the academy",
                "operationId": "getAcademyLesson",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the lesson",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lesson details retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Lesson details"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Lesson not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Lesson not found"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 404
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Academy"
                ],
                "summary": "Update a lesson by ID",
                "description": "Update details of an existing lesson in the academy",
                "operationId": "updateAcademyLesson",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the lesson to update",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "example": "Updated Lesson Title"
                                    },
                                    "subtitle": {
                                        "type": "string",
                                        "example": "Updated Subtitle"
                                    },
                                    "instructor": {
                                        "type": "string",
                                        "example": "Jane Doe"
                                    },
                                    "video_location": {
                                        "type": "string",
                                        "enum": [
                                            "online",
                                            "stored"
                                        ],
                                        "example": "online"
                                    },
                                    "video": {
                                        "type": "string",
                                        "example": "https://youtube.com/..."
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Lesson updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Lesson updated successfully"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Lesson not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Lesson not found"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 404
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/422"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Academy"
                ],
                "summary": "Delete a lesson by ID",
                "description": "Deletes a lesson from the academy",
                "operationId": "deleteAcademyLesson",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the lesson to delete",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lesson deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Lesson successfully deleted"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 200
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Lesson not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Lesson not found"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 404
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/admin/merchants": {
            "get": {
                "tags": [
                    "Admin"
                ],
                "summary": "Get list of all merchants",
                "description": "Returns all merchants with optional status filtering (e.g. active, inactive, pending, blocked), including email, status, revenue, and join date",
                "operationId": "56688b538ae42b9364ecc9fe7692d571",
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filter merchants by status (e.g. active, inactive, pending, blocked)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "active"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Merchant list retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Merchant List"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Best Store"
                                                    },
                                                    "email": {
                                                        "type": "string",
                                                        "example": "merchant@example.com"
                                                    },
                                                    "status": {
                                                        "type": "string",
                                                        "example": "active"
                                                    },
                                                    "revenue": {
                                                        "type": "number",
                                                        "format": "float",
                                                        "example": 12500
                                                    },
                                                    "joined": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2025-01-10T12:34:56"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/admin/merchants/{id}": {
            "get": {
                "tags": [
                    "Admin"
                ],
                "summary": "Get details of a single merchant",
                "description": "Returns a merchant's full details including user info, products, reviews, sales, category, and followers",
                "operationId": "9c5683c9f611b913c7f3f5af53d452ae",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the merchant",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Merchant details retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Store details"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Best Store"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "merchant@example.com"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "example": "active"
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2025-01-10T12:34:56"
                                                },
                                                "user": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 10
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "John Doe"
                                                        },
                                                        "email": {
                                                            "type": "string",
                                                            "example": "john@example.com"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "products": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 101
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Product 1"
                                                            },
                                                            "price": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 2500
                                                            },
                                                            "quantity": {
                                                                "type": "integer",
                                                                "example": 10
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "reviews": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 501
                                                            },
                                                            "rating": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 4.5
                                                            },
                                                            "comment": {
                                                                "type": "string",
                                                                "example": "Great store!"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "sales": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1001
                                                            },
                                                            "amount": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 5000
                                                            },
                                                            "status": {
                                                                "type": "string",
                                                                "example": "completed"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "category": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "Electronics"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "followers": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 2001
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Alice"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Store not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Store not found"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/admin/performing/merchants": {
            "get": {
                "tags": [
                    "Admin"
                ],
                "summary": "Top performing merchants",
                "description": "Retrieve the top performing merchants for the current month with revenue growth compared to last month.",
                "operationId": "topPerformingMerchants",
                "responses": {
                    "200": {
                        "description": "List of top performing merchants",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Top 5 performing merchants this month"
                                        },
                                        "code": {
                                            "type": "integer",
                                            "example": 200
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "store": {
                                                        "type": "string",
                                                        "example": "Tech Store"
                                                    },
                                                    "category": {
                                                        "type": "string",
                                                        "example": "Electronics"
                                                    },
                                                    "amount": {
                                                        "type": "number",
                                                        "format": "float",
                                                        "example": 1250000.5
                                                    },
                                                    "percent": {
                                                        "properties": {
                                                            "value": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 20.5
                                                            },
                                                            "nature": {
                                                                "type": "string",
                                                                "example": "positive"
                                                            },
                                                            "duration": {
                                                                "type": "string",
                                                                "example": "month"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/admin/payments": {
            "get": {
                "tags": [
                    "Admin"
                ],
                "summary": "Get list of payments",
                "description": "Returns a paginated list of payments with optional filters: search, payment_method, merchant, status",
                "operationId": "ae027ef11ac4a1056d49cbe7a896a95e",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search by transaction ID or reference",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "payment_method",
                        "in": "query",
                        "description": "Filter by payment method display name",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "merchant",
                        "in": "query",
                        "description": "Filter by merchant/store name",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filter by payment status (e.g., success, failed)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of payments retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "List of all payments"
                                        },
                                        "data": {
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "ref": {
                                                                "type": "string",
                                                                "example": "REF12345"
                                                            },
                                                            "txn_id": {
                                                                "type": "string",
                                                                "example": "TXN98765"
                                                            },
                                                            "amount": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 2500
                                                            },
                                                            "merchant": {
                                                                "type": "string",
                                                                "example": "Best Store"
                                                            },
                                                            "method": {
                                                                "type": "string",
                                                                "example": "PayPal"
                                                            },
                                                            "status": {
                                                                "type": "string",
                                                                "example": "success"
                                                            },
                                                            "time": {
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "example": "2025-09-16T12:34:56"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "pagination": {
                                                    "properties": {
                                                        "current_page": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "last_page": {
                                                            "type": "integer",
                                                            "example": 10
                                                        },
                                                        "per_page": {
                                                            "type": "integer",
                                                            "example": 50
                                                        },
                                                        "total": {
                                                            "type": "integer",
                                                            "example": 500
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/admin/payments/{id}": {
            "get": {
                "tags": [
                    "Admin"
                ],
                "summary": "Get payment details",
                "description": "Retrieve details of a single payment including store, user, order, payment method, and payment option",
                "operationId": "b371b16eaeddbf4c591f6f9672292f93",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the payment",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Payment details retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Payment details"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "amount": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 2500
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "example": "success"
                                                },
                                                "ref": {
                                                    "type": "string",
                                                    "example": "REF12345"
                                                },
                                                "txn_id": {
                                                    "type": "string",
                                                    "example": "TXN98765"
                                                },
                                                "store": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 10
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "Best Store"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "user": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 5
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "John Doe"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "order": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1001
                                                        },
                                                        "status": {
                                                            "type": "string",
                                                            "example": "completed"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "paymentMethod": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "display": {
                                                            "type": "string",
                                                            "example": "PayPal"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "paymentOption": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 2
                                                        },
                                                        "display": {
                                                            "type": "string",
                                                            "example": "Credit Card"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Payment not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Payment not found."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/admin/reports/sales": {
            "get": {
                "tags": [
                    "Reports"
                ],
                "summary": "Get sales volume stats",
                "description": "Returns total sales for the current month and breakdown per category",
                "operationId": "5398cc84f0b62e97829601407ae4a138",
                "responses": {
                    "200": {
                        "description": "Sales data retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Sales volume stats"
                                        },
                                        "data": {
                                            "properties": {
                                                "total": {
                                                    "properties": {
                                                        "value": {
                                                            "type": "number",
                                                            "format": "float",
                                                            "example": 125000.5
                                                        },
                                                        "percent": {
                                                            "type": "number",
                                                            "format": "float",
                                                            "example": 12.5
                                                        },
                                                        "duration": {
                                                            "type": "string",
                                                            "example": "month"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "categories": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Electronics"
                                                            },
                                                            "total_sales": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 50000
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/admin/reports/user/growth": {
            "get": {
                "tags": [
                    "Reports"
                ],
                "summary": "Get user growth statistics",
                "description": "Returns total users, new users this month, active users this month, and retention rate",
                "operationId": "e2a5004a499f65d4b0e827fa891ffa4f",
                "responses": {
                    "200": {
                        "description": "User growth data retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "User growth"
                                        },
                                        "data": {
                                            "properties": {
                                                "total": {
                                                    "type": "integer",
                                                    "example": 1200
                                                },
                                                "active": {
                                                    "type": "integer",
                                                    "example": 850
                                                },
                                                "new": {
                                                    "type": "integer",
                                                    "example": 100
                                                },
                                                "retention_rate": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 78.5
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/manage/users": {
            "get": {
                "tags": [
                    "Admin Manage Users"
                ],
                "summary": "Get list of stores and associated users",
                "description": "Retrieve all stores with related user info. Supports search by store/user name or phone, and filter by user status",
                "operationId": "db54c6d76d46f9969d8247b634777a07",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search term for store name, user name, or phone",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Filter by user status (active, suspended, inactive)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Stores retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Stores retrieved successfully"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "store_id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "store_name": {
                                                        "type": "string",
                                                        "example": "My Store"
                                                    },
                                                    "store_slug": {
                                                        "type": "string",
                                                        "example": "my-store"
                                                    },
                                                    "joined_at": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2025-09-16T12:00:00"
                                                    },
                                                    "user_id": {
                                                        "type": "integer",
                                                        "example": 10
                                                    },
                                                    "user_name": {
                                                        "type": "string",
                                                        "example": "John Doe"
                                                    },
                                                    "user_mobile": {
                                                        "type": "string",
                                                        "example": "+255123456789"
                                                    },
                                                    "user_status": {
                                                        "type": "string",
                                                        "example": "active"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Admin Manage Users"
                ],
                "summary": "Create a new store and user",
                "description": "Creates a new user (seller) and associated store",
                "operationId": "3de48f246db16ebe37e2eb7b7e51fcfe",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "phone": {
                                        "type": "string",
                                        "example": "+255712345678"
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "John Doe"
[...]
